<body>



  <form action="<%= bands_url %>" method="post">
    <%= auth_token %>
    <label>Band Name:
      <br>
      <input type="text" name="band[name]" value="">
    </label>
    <button name="button">Create Band</button>

  </form>
</body>
